.banner {
  height: 100vh;
  width: 100vw;
}

.banner-content {
  padding-top: 10vh;
  align-content: center;
  text-align: center;
}

.banner-content h1 {
  color: $mypink;
  font-family: 'Marck Script', cursive;
  font-size: 85px;
  text-align: center;
}

.banner-content p {
  color: $myblue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 18px;
}

.btn {
  background-color: $myblue;
  color: white !important;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  border: none;
  padding: 15px 25px !important;
  }

.btn:hover {
  background-color: white;
  color: $myblue !important;
  border: none;
}
