<div class="banner" style="background-image: url(<%=asset_path("rsz_cover.jpg") %>);">
  <div class="banner-content2">
    <h1>The Portugal Place</h1>
    <p>Find Your Perfect Wedding Location In Portugal</p>
    <a class="btn">Start now</a>
  </div>
</div>
