<div class="banner" style="background-image: url(<%=asset_path("rsz_cover.jpg") %>); background-size: cover !important;">
  <div class="banner-content">
    <h1>The Portugal Place</h1>
    <p>Find Your Perfect Wedding Location In Portugal</p>
    <div class="btn">
      <%= link_to "Start Now!", :new_user_registration %>
    </div>
  </div>
</div>
